$(document).ready(function () {

  $('.image-popup').magnificPopup({
    type: 'image',

    closeOnContentClick: true,

    closeBtnInside: false,

    mainClass: 'mfp-fade',

    removalDelay: 300,

    image: {
      verticalFit: true
    },

    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1]
    }
  });

});
